*.pyc
*.log
PowerShell/WorkingFolder*
PowerShell/TACReport/*
PowerShell/Processing/*
PowerShell/ignoredFiles/*
bashLogProcessing/Working/*
bashLogProcessing/Reports/*
Python/.DS_Store
bashLogProcessing/.DS_Store
